* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #556270;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #4ECDC4, #C7F464);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%; 
    width: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: white;
    text-shadow: 2px 2px 5px rgba(85, 98, 112, 1);
    z-index: 10;
    font-family: 'Satisfy', cursive;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    left: 0;
    top: 0;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.home,
.main {
    height: 100vh;
    position: absolute;
    width: 100%;
}

.main-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 20px;
    }
}

.main {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}